    <div class="msg-element user-1">
        <small>Dan 15:11</small>
        <p>
            No I haven't disabled my browser's cache, but I have tried several methods of clearing the cache (deleting the pyc files, Ctrl+F5 in browser). 
            These do seem to help with reloading changes to javascript files.
        </p>
    </div>

    <div class="msg-element user-2">
        <small>Chula 12:11</small>
        <p>
            @Gregory Please m having issues implementing this part f the requirement "If the user typed in only part of a title, ISBN, or author name, your search page should find matches for those as well!" i'll really appreciate
            if i can get some sort of help Thanks in anticipation for your reply.
        </p>
    </div>

    <div class="msg-element user-2">
        <small>Chula 12:11</small>
        <p>
            @Gregory Please m having issues implementing this part f the requirement "If the user typed in only part of a title, ISBN, or author name, your search page should find matches for those as well!" i'll really appreciate
            if i can get some sort of help Thanks in anticipation for your reply.
        </p>
    </div>

    <div class="msg-element user-1">
        <small>Dan 15:11</small>
        <p>
            No I haven't disabled my browser's cache, but I have tried several methods of clearing the cache (deleting the pyc files, Ctrl+F5 in browser). 
            These do seem to help with reloading changes to javascript files.
        </p>
    </div>

    <div class="msg-element user-1">
        <small>Dan 15:11</small>
        <p>
            No I haven't disabled my browser's cache, but I have tried several methods of clearing the cache (deleting the pyc files, Ctrl+F5 in browser). 
            These do seem to help with reloading changes to javascript files.
        </p>
    </div>