@mixin generic-inputs {
    border: 0;
    border-bottom: 1px solid;
}



.main-content
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.list-block
{
    width: 220px;
    background:  #2c3e50;
    height: 100vh;
    border-right: 1px solid rgba(0,0,0,.125);
    color: white;
    overflow: auto;

    hr
    {
        border-top: 1px solid white;
        margin: 0.75rem 1.25rem;    
        margin-top: 0;    
    }

    .username
    {
        padding: 0.75rem 1.25rem;
        display: flex;
        align-items: center;

        .dot
        {
            height: 8px;
            width: 8px;
            background-color: lightgreen;
            border-radius: 50%;
            margin-right: 5px;
        }
    }

    .add-plus
    {
        float: right;

        &::before
        {
            content: url(../uploads/plus-circle-solid.svg);
            padding-right: 14px;
        }
    }

    a
    {
        color: white;
        text-decoration: none;
    }

    .list-group-item
    {
        background: none;
        border: 0;
        font-size: 13px;
        padding: 0.35rem 1.25rem;
    }

    .list-group-header
    {
        font-size: 15px;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
    }
}

.room-block
{
    flex: 6;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .chat-block
    {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
        background: #5a5a5a;
        
        .msg-element
        {
            margin: 0.75rem 1.25rem;
            padding: .75rem 1.25rem;
            width: 60%;
        }

        .user-1
        {
            background: #ffff4d;
            align-self: flex-start
        }

        .user-2
        {
            background: #c1e0ff;
            align-self: flex-end
        }


        &.global-rooms
        {
            .msg-element
            {
                width: 95%;
                align-self: flex-start;
            }
        }
    }

    .msg-block
    {
        form
        {
            display: flex;
            padding: 0.75rem 1.25rem;
        }

        input
        {
            flex: 1;
            @include generic-inputs()
        }
    }
}



// Welcome Content | login page

.welcome-block
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    background: #3d7eaa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3d7eaa, #ffe47a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3d7eaa, #ffe47a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    h3
    {
        font-weight: 800;
    }

    p
    {
        font-weight: 300;
    }

    input
    {
        @include generic-inputs();
        border-bottom: 1px solid#28a745;
        margin: 0 auto;
        margin-bottom: 2rem;
        color: #28a745;
        background: transparent;
        max-width: 200px;
    }

    button
    {
        max-width: 580px;
        width: 100%;
        border-radius: 0;
        transition: color .15s ease-in-out,
        background-color .35s ease-in-out,
        border-color .25s ease-in-out,
        box-shadow .15s ease-in-out;
    }

    .welcome-container
    {
        background: white;
        padding: 2rem 1.25rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #28a745;
        min-width: 450px;
    }
}