{% extends 'layout.html' %}

{% block title %}
    Get a Chat Room!
{% endblock %}

{% block additional_head_tags %}
    <base href="/">
{% endblock %}

{% block body %}
    <app-root></app-root>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='angular/dist/runtime.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='angular/dist/polyfills.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='angular/dist/styles.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='angular/dist/vendor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='angular/dist/main.js') }}"></script>
{% endblock %}