{% extends 'layout.html' %}

{% block title %}
    Get a Chat Room!
{% endblock %}

{% block body %}
<div class="main-content">
    <div class="list-block">
        <div class="channels">

            <p class="username"><span class="dot"></span> {{ username }}</p>


            <h4 class="list-group-header"> Channels <span class="add-plus"></span> </h4>
            <hr/>
            <ul class="list-group">
            </ul>
        </div>
        <br />
        
        <div class="private-rooms">
            <!-- Private Rooms -->

            <h4 class="list-group-header"> Private Rooms <span class="add-plus"></span> </h4>
            <hr/>
            <ul class="list-group">
            </ul>

            <br />
            <a href="/logout"> Logout </a>
        </div>
    </div>
    <div class="room-block">
        <div class="chat-block global-rooms">

        </div>
        <div  class="msg-block">
            <div class="file-upload">
                <span>+</span>
            </div>
            <div class="text-msg">
                <form action="." method="POST">
                    <input type="text" id="chat-msg" placeholder="Type your Message"/>
                </form>
            </div>
        </div>
    </div>
    <div class="create-channel-block">
        <div class="header">
            <span class="close"></span>
        </div>
        <form action="" method="POST">
            <h1> Put the name of the new channel: </h1>
            <input type="text" id="channel-name-input" />
            <button type="submit">Create Channel</button>
        </form>
    </div>
    <div class="create-private-room-block">
        <div class="header">
            <span class="close"></span>
        </div>
        <form action="" method="POST">
            <h1> Select the username who you want to send a message: </h1>
            <select id="usernames"> 
            </select>
            <button type="submit">Choose a Username</button>
        </form>
    </div>
    <div class="file-upload-block">
        <div class="header">
            <span class="close"></span>
        </div>
        <form enctype="multipart/form-data" action="/upload/image" method="post">
            <input id="image-file" type="file" name="file" />
            <button>Send File</button>
        </form>
    </div>
</div>

{% endblock %}

