{% extends 'layout.html' %}

{% block title %}
    Get a Chat Room!
{% endblock %}

{% block body %}
<div class="main-content">
    <div class="list-block">
        <div class="channels">

            <p class="username"><span class="dot"></span> {{ username }}</p>


            <h4 class="list-group-header"> Channels <span class="add-plus"></span> </h4>
            <hr/>
            <ul class="list-group">
            </ul>
        </div>
        <br />
        
        <div class="private-rooms">
            <!-- Private Rooms -->

            <h4 class="list-group-header"> Private Rooms <span class="add-plus"></span> </h4>
            <hr/>
            <ul class="list-group">
            </ul>

            <br />
            <a href="/logout"> Logout </a>
        </div>
    </div>
    <div class="room-block">
        <div class="chat-block global-rooms">

        </div>
        <div  class="msg-block">
            <form action="." method="POST">
                <input type="text" id="chat-msg" placeholder="Type your Message"/>

                <!-- 
                <textarea id="chat-msg" placeholder="Type your Message" rows="4" cols="50">
                    At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                </textarea> -->
            </form>
        </div>
    </div>
</div>

{% endblock %}

